// footer
@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.footer {
    background-color: #F9F9FB;
    @include flex(center);
    padding: 1rem;
    &__icons{
        i{
            padding: .5rem;
            transition: all 1s;
            &:hover{
                color: $btnColor;
            }
        }
    }
}